
:root {
    --primary-color: #839E5A;
    --secondary-color: #E97F2E;
    --accent1-color: #33A2C9;
    --accent2-color: #242D26;

    --heading-font: "Open Sans", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;

    --nav-background-color: var(--primary-color);  
    --nav-link-color: var(--secondary-color); 
    --nav-hover-link-color: var(--accent1-color); 
    --nav-hover-background-color: var(--accent2-color);
}

body {
    font-family: var(--paragraph-font);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header > nav > a {

    text-decoration: none;
     
}



.logo {
    width: 200px;
    
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero > h1, article {
    position: absolute;
}

.hero > h1 {
    width: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20px;
    left: 30rem;
}

.hero > article {
    
    background-color: rgba(0, 0, 0, 0.5);
    width: 65rem;

    top: 20rem;
    left: 5rem;
}

.hero > article > img {
    width: 200px;
    float: right;
}

.navigation {
	display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 0px 10px 0px;
    
	list-style: none;
    width: 100%;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.history > p {
    padding: 20px;
    background-color: var(--accent2-color);
}

.adventure {
    text-align: center; 
    padding: 20px 0px 20px 0px;
}

.imagesAdventure {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
    justify-items: center; 
    align-items: center; 
}

.imagesAdventure figure {
    margin: 0; 
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
}

.imagesAdventure img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imagesAdventure figcaption, .employesImg figcaption {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px 10px 20px;
    background-color: #f1f1f1; 
}

footer p {
    margin: 0; 
    text-align: center; 
    flex: 1; 
}

.sociallinks {
    display: flex;
    gap: 10px; 
}

.sociallinks a img {
    width: 24px; 
    height: 24px; 
}

.contact {
    
    padding: 20px 0px 20px 0px;
}

.employesImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    justify-items: center; 
    align-items: center; 
}

.employesImg img {

    max-height: 150px;
    max-width: 150px;
    height: auto;
    display: block;
   
}

.employesImg figure { 
    
    margin: 0; 
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
}

.contactMain {
    max-width: 1200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    
}

.contactIcons {
    display: flex;
    align-items: center;
    
}

.contactIcons  i {
    margin-right: 30px;
   
}

h1 {
    text-align: center;
    color: #333;
}


.quiz-form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

.map {
    border:0;  
    width:300px;
    height:250px;
    
}